
<div class="loginArea">
	<h1>Login</h1>

	<form ng-submit="loginUser()">
		Username: <input ng-model="login" id="loginusername"/> <br />
		<button type="submit" id="loginbutton">Login</button>
	</form>
	<div ng-show="loginError">
		<p>Login fehlgeschlagen</p>
	</div>
</div>

<hr />

<div class="registerArea">
	<h1>Register</h1>

	<form ng-submit="registerUser()">
		Username: <input ng-model="register" id="registerusername" /> <br />

		<button type="submit" id="registerbutton">Registrieren</button>
	</form>

	<div ng-show="registerError">
		<p>Registrierung fehlgeschlagen</p>
	</div>
</div>